#DB
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=apply_products

#Contenful
CONTENTFUL_SPACE_ID=9xs1613l9f7v
CONTENTFUL_DELIVERY_TOKEN=I-ThsT55eE_B3sCUWEQyDT4VqVO3x__20ufuie9usns
CONTENTFUL_ENVIRONMENT=master
CONTENTFUL_CONTENT_TYPE=product

# Sincronización
SYNC_JOB_NAME=contentful-hourly-sync
SYNC_INTERVAL_MS=3600000

# Seguridad
BCRYPT_SALT_ROUNDS=10

# Aplicación
NODE_ENV=development
PORT=3000

#JWT
JWT_SECRET=super-secret-key
JWT_EXPIRES_IN=3600s